@tailwind base;
@tailwind components;
@tailwind utilities;

.Header_logo__3O7Ql {
  display: block;
  padding: 0.9375em 1em;
  margin: 0 0 -0.166em -1em;
  border-radius: 3px;
  color: #f03e2f;
  font-size: 1em;
}
